{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "extends": "eslint:recommended",
  "globals": {
    "example": false
  },
  "rules": {
    "no-console": 0,
    "semi": 2,
  }
}
